POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=chicago
POSTGRES_USER=chicago
POSTGRES_PASSWORD=change_me_local
REDIS_HOST=redis
REDIS_PORT=6379
AIRFLOW_BASE_URL=http://airflow-webserver:8080
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
ENV=local
CACHE_TTL=300